<!DOCTYPE html>
<html>
    <head>
        <title>Logs</title>
        <link rel = "Stylesheet" href = "./css/logs.css">
    </head>
    <body>
        <%= JSON.stringify(data) %>
    </body>
    </html>